// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

img#print_btn {
	display: block;
	height: 24px;
}

/*==============================================
=            put in the layout file            =
==============================================*/
.l-constrained, .l-region--footer {
  max-width: 1140px;
  margin: 0 auto;
}

.l-branding .l-constrained {
  max-width: 600px;
  margin: 0 auto;
}


/*-----  End of put in the layout file  ------*/


