.l-constrained, .l-region--footer {
  max-width: 1140px;
  margin: 0 auto;
}

.l-branding .l-constrained {
  max-width: 600px;
  margin: 0 auto;
}
.l-branding.site-branding {
	background: url("/sites/all/themes/bowing_down_home/images/dirt_road.png");
	background-size: cover;
	height: 500px;
	margin-bottom: 1em;
}