.node-type-landing-page .l-header {
  margin: 0px;
}
.top-nav {
  font-family: $cuprum;
}
.node-type-landing-page .l-header {
	background: white;
}

.l-constrained, .l-region--footer {
  max-width: 1140px;
  margin: 0 auto;
}

.l-branding .l-constrained {
  max-width: 600px;
  margin: 0 auto;
}
.l-branding.site-branding {
	@include breakpoint($phone) {
	background: url("/sites/all/themes/bowing_down_home/images/dirt_road.png");
	background-size: cover;
	height: 500px;
	margin-bottom: 1em;
	padding-bottom: 2em;
	}
}

/* sets a fixed height on the block labels at the bottom of the page */

.views-field.views-field-fgs-label-s {
height: 85px;
}

.node--landing-page p {
    font-size: 1em;
    @include breakpoint($phone) {
    	font-size: 1.5em;
    }
}

.l-content {
    padding: 1em;
}

.pane-three-features {
  font-family: $cuprum;
  @include add-grid(12);
  @include clearfix;
  @include breakpoint($phone) {
    .featured_image {
    @include grid-span(4, 1);
  }
  .featured_audio {
    @include grid-span(4, 5);
  }
  .featured_video {
    @include grid-span(4, 9);
  }
  }
}
